body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
}
header {
    background-color: #333;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


h1 {
    color: #333;
    text-align: center;
}

div.articles {
    margin: 1em auto;
    padding: 1em;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


div.btn {
    margin: 1em auto;
    padding: 1em;
    max-width: 1200px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 20rem;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 600px; /* Set a max-width to control the width */
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 1em auto;
    min-width: 200px;
}

button:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
a.btn {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 1em auto;
    min-width: 200px;
    text-align: center;
}

a.btn:hover,
div.btn-container:hover {
    background-color: #333;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    color: #777;
}