body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

h1 {
    color: #333;
    text-align: center;
}

div.articles{
    margin: 1em auto;
    padding: 1em;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.btn {
    margin: 1em auto;
    padding: 1em;
    max-width: 1200px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 600px; /* Set a max-width to control the width */
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a.btn {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}